/*
 * Contents
 *
 * Global Resets
 * Body Resets
 * Messages
 * Posts
 * Container
 */

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

/* Body Resets
*/

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Rosario", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.callout {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
  font-style: italic
}

.alert {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #555;
  background-color: #fff8d4;
  font-style: italic
}

.alarm {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #555;
  background-color: #ffd4d4;
  font-style: italic
}

/*
 * Posts
 * Additional styling for posts or pages
 *
 */

.footnotes {
    font-size: 0.8rem;
}

.language-markdown {
  overflow-x: auto;
}
.language-markdown pre {
  box-sizing: content-box;
  width: 80ch;
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

@media (min-width: 48em) {
  .content {
    max-width: 43rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

/*
 * Pagination
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/*
 * Sidebar
 */

@media (min-width: 48em) {
  .sidebar {
    width: 19rem;
  }
}
