/*
 * Contents
 *
 * Global Resets
 * Body Resets
 * Index Pages
 * Messages
 * Posts
 * Container
 */

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
}

html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 64em) {
  html {
    font-size: 20px;
  }
}

/* Body Resets
*/

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Rosario", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

li li {
  list-style-type: lower-alpha;
}

li li li {
  list-style-type: lower-roman;
}

ol ol ol {
  margin-bottom: 0
}

/*
 * Index Pages
 */
.post-detail {
  overflow: hidden;
  position: relative;
  max-height: 10rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}
article.post {
  border: 1px lightgrey solid;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  margin-bottom: 1rem;
  font-size: 0.9em;
}
h1.post-title {
  font-size: 1.5em;
  line-height: 1;
}

h1.post-title > a {
  color: black;
}

article.post > .post-thumbnail {
  min-height: 10rem;
  width: 30%;
  min-width: 30%;
  max-width: 100%;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 71rem) {

.post-detail {
  width: 100%;
  max-height: 20rem;
}
article.post {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
article.post > .post-thumbnail {
  min-height: 10rem;
  width: 100%;
  max-width: 100%;
  background-position: center center;
  background-size: cover;

}
}
/*
 * Messages
 * Extra levels of messaging.
 */

.callout {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
  font-style: italic
}

.alert {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #555;
  background-color: #fff8d4;
  font-style: italic
}

.alarm {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #555;
  background-color: #ffd4d4;
  font-style: italic
}

/*
 * Posts
 * Additional styling for posts or pages
 *
 */

.footnotes {
    font-size: 0.8rem;
}

.post-dates {
  text-align: justify;
  text-align-last: justify;
}
/* safari refuses to implement text-align-last */
.post-dates:after {
  display: inline-block;
  width: 100%;
  content: '';
}
.post-date {
  display: inline-block;
  font-size: 0.8rem;
  width: auto;
  text-align: center;
  color: #999;
}

/* code title */
.code-title {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 0.7rem;
  color: gray;
}

.language-markdown {
  overflow-x: auto;
}
.language-markdown pre {
  box-sizing: content-box;
  width: 80ch;
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

@media (min-width: 48em) {
  .content {
    max-width: 43rem;
    margin-left: 20rem;
    margin-right: 1rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 3rem;
  }
}

/*
 * Pagination
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/*
 * Sidebar
 */
.sidebar-about h1 {
  font-size: 2.5rem;
}
.sidebar .lead {
  font-size: 1.1rem;
}
.sidebar-nav-item {
  line-height: 1.4rem;
}

@media (min-width: 48em) {
  .sidebar {
    width: 19rem;
  }
}

/*
 * Cover
 */

.top {
  margin-bottom: -2rem;
}
.top img {
  object-position: center center;
  object-fit: cover;
  border-radius: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 48em) {
  .top {
    margin-left:17rem;
    height:12rem;
    width: auto;
    max-width:44rem;
  }
}
@media (min-width: 64em) {
  .top {
    margin-left:19rem;
    height:14rem;
    width: auto;
    max-width:49rem;
    margin-bottom: -1.5rem;
  }
}
