<div class="logo-area">
  <a href="{{ page.logo_link }}">
    <div class="logo-space {{ page.logo_shape }}">
      <img src="{{ page.logo_location }}" alt="Site logo">
    </div>
    <div class="logo-message {{ page.logo_legend_shape }} {% if page.flashy_logo %} animate{% endif %}">
      {% if page.logo_legend_shape=="curved" %}
        <svg viewBox="0 0 200 140">
          <defs>
            <path id="curve" d="m 15 8 a 92 92 0 1 0 170 0" />
          </defs>
          <text text-anchor="middle">
            <textPath startOffset="50%" alignment-baseline="top" xlink:href="#curve">
              {{ page.logo_legend }}
            </textPath>
          </text>
        </svg>
      {% else %}
        {{ page.logo_legend }}
      {% endif %}
    </div>
  </a>
</div>
