---
layout: default
pagination:
  enabled: true
---
{% if page.autopages %}
<div class='tag-header'>
  <span id='tag-title'>Posts tagged <i>'{{page.autopages.display_name}}'</i></span>
  <span id='tag-page-count'>Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}</span>
</div>
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
  {% if post.thumbnail or true %}
  <a class="post-thumbnail" href="{{post.url | relative_url}}"
     style="background-image: url({{post.thumbnail | relative_url}})"></a>
  {% endif %}
    <div class="post-detail">
      <h1 class="post-title"><a href="{{post.url | relative_url}}">{{ post.title | escape }}</a></h1>
      {{ post.excerpt | strip_html | truncate: 200 }}
      <p class="post-date">{{ post.date | date_to_string }}</p>
    </div>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item newer" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//','/' }}">Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item older" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//','/' }}">Newer</a>
  {% endif %}
{% endif %}
</div>
